
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;



// Font stacks
$helvetica: "Noto Sans JP", sans-serif;
$helveticaNeue: "Noto Sans JP", sans-serif;
$georgia: "Noto Sans JP", serif;
$noto: "Noto Sans JP", sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}